<h1>Cookies</h1>

<form action="/cookies" method="POST" id="cookieForm">
  <label for="name">Name:</label>
  <input type="text" name="name" />
  <br />
  <label for="email">Email:</label>
  <input type="email" name="email" />
  <br /><br />
  <button type="submit">Enviar</button>
</form>
<button onclick="getCookies()">Get cookies</button>

<script src="/js/cookies.js"></script>