

<div>
  <h1>Login</h1>
  <form action="" id="loginForm">

    <label for="email">Email:</label>
    <br />
    <input type="email" id="email" name="email" />
    <br />
    <label for="password">Password:</label>
    <br />
    <input type="password" name="password" id="password" />
    <br />
    <br />
    <button type="submit">Login</button>
    <br />
    <br />
    <p>Don't have an account yet?</p>

    <button id="signupButton">Register</button>
    <br />

  </form>
  <br />
  <p> forgot password? <a href="/resetPassword">Reset password here</a></p>
</div>

<p>-----------Or-----------</p>

<div>
  <a href="/api/sessions/github"><p><button>Login with Github</button></p></a>
</div>

<script src="/js/login.js"></script>