<div class="productCard">
    <h3>{{product.description}}</h3>
    <small>{{this._id}}</small>
    <p>category: {{this.category}}</p>
    <p>price: {{this.price}}</p>
    <button>Add to cart</button>
</div>