{{#if user}}

  <div>
    <h2>Welcome to elKunfuteca, {{user.name}}!</h2>
    <p>This is your registered email: {{user.email}}</p>
    <p>You are a golden{{user.rol}}!</p>
    <p>Hurry up! You are {{user.age}} and elKunfuteca can't wait for you!</p>
  </div>

  <a href="/api/sessions/logout"><button>Logout</button></a>
  <br /><br />

{{/if}}