<h1>Register</h1>

<div>
    <form action="" id="registerForm"></form>
        <label for="first_name">First Name:</label> 
        <input type="text" name="first_name">
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email">
        <br>
        <label for="age">Age:</label>
        <input type="number" name="age">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <label for="confpassword">Confirm Password:</label>
        <input type="password" name="confpassword">
        <br>
        <button type="submit">Register</button>
    
</div>

<script src="/js/register.js"></script>